---
layout: default
---

<section id="home" class="hero d-flex align-items-center section-bg">
    <div class="container">
        <div class="row justify-content-between gy-5">
            <div class="col-lg-5 order-1 order-lg-1 text-center text-lg-start">
                <img src="assets/img/logo.png" class="img-fluid" style="border-radius: 5%;" alt="" data-aos="zoom-out"
                     data-aos-delay="300">
            </div>

            <div class="rotate-info col-lg-5 order-1 order-lg-1 text-center text-lg-start">ab Januar 2023</div>

            <div class="col-lg-5 order-2 order-lg-2 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
                <h2 data-aos="fade-up">Bald neu in Buchsi</h2>
                <p data-aos="fade-up" data-aos-delay="100">
                    Die Kinderbörse Sunneschyn schliesst leider diesen Herbst. Wir finden, Buchsi braucht eine
                    Kinderbörse und haben deshalb den mutigen Entschluss gefasst, an einem neuen, tollen Standort eine
                    ganz neue Kinderbörse zu eröffnen. Wir sind nun seit ein paar Monaten an den Vorbereitungen dazu und
                    freuen uns riesig auf den Start.
                </p>
                <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
                    <a href="/assets/downloads/Konzept_Oktober2022.pdf" target="_blank" class="btn-download">Flyer
                        downloaden</a>
                </div>
            </div>
        </div>
        <div class="latest-posts d-flex justify-content-end pt-5 gy-5">
            <div class="col-5 align-self-end p-3">
                <h2>News:</h2>
                <ul>
                    {% for post in site.posts limit:5 %}
                    <li>
                        <i class="bi bi-arrow-right-short"></i><a href="{{ post.url }}">{{post.date| date: "%-d.%m.%Y"}}
                        - {{post.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
                <a class="show-all" href="all-news.html">alle anzeigen...</a>
            </div>
        </div>
    </div>
</section>

<main>
    {% include sections.html %}
</main>
