<footer id="footer" class="footer">

    <div class="container">
        <div class="row gy-3">
            <div class="col-lg-4 col-md-6 d-flex">
                <i class="bi bi-geo-alt icon"></i>
                <div>
                    <h4>Adresse</h4>
                    <p>
                        Kinderbörse kleiner Fuchs <br>
                        Wangenstrasse 20<br>
                        3360 Herzogenbuchsee<br>
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 footer-links">
                <h4>Social Media</h4>
                <div class="social-links d-flex">
                    <a href="{{site.facebook_username}}" class="facebook"><i class="bi bi-facebook"></i></a>
                    <a href="{{site.instagram_username}}" class="instagram"><i class="bi bi-instagram"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 footer-links d-flex">
                <i class="bi bi-telephone icon"></i>
                <div>
                    <h4>Kontakt</h4>
                    <p>
                        <strong>Telefon Chrigä:</strong> {{site.phone_chrige}}<br>
                        <strong>Telefon Michèle:</strong> {{site.phone_michele}}<br>
                        <strong>Email:</strong> {{site.email}}<br>
                    </p>
                </div>
            </div>

        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>Kinderbörse kleiner Fuchs</span></strong>. All Rights Reserved
        </div>
    </div>

</footer>
