{% assign sections = site.sections | sort: 'order' %}
{% for section in sections %}
{% assign remainder = forloop.index | modulo: 2 %}
<section id="{{ section.selector }}" class="{{ section.selector }}{% if remainder == 0 %} section-bg{% endif %}">
    <div class="container">
        <div class="section-header">
            <h2>{{ section.header }}</h2>
            <p>{{ section.title }}</p>
        </div>

        <div class="row justify-content-between">
            {{ section.content }}
        </div>
    </div>
</section>
{% endfor %}
